<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - spilth.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css' />
    <link href="/css/spilth.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-80575-11']);
      _gaq.push(['_setDomainName', 'spilth.org']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>

  <body>
  <div id="wrapper">
    <ul class="nav">
      <li><a href="/">spilth.org</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/hobbies/">Hobbies</a></li>
      <li><a href="/notes/">Notes</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="http://resume.spilth.org/">Resume</a></li>
      <li><a href="http://blog.spilth.org/">Tumblr</a></li>
    </ul>

    {{content}}

    <footer>
    <p>Copyright &copy; Brian Kelly 2000-2014</p>
    </footer>
    </div>
  </body>
</html>

