<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Crash Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/readable.min.css" rel="stylesheet">
    <link href="/css/remark.css" rel="stylesheet">
    <script src="/js/remark-0.4.4.min.js" type="text/javascript">
      {"highlightStyle": null}
    </script>
  </head>
  <body>
    <textarea id="source" class="hidden">
{{ content }}
    </textarea>
    <div id="slideshow"></div>
  </body>
</html>

